body {
  background-color: #EBF0F3;
}

/** HEADER **/
#header-nav {
  background-color: #C4C4C4;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 9px;
}

.navbar-brand img {
  width: 86px;
  height: 79px;
  /*margin: 10px 15px 10px 0;*/
}

.navbar-brand span { /* JobFinder title */
  font-family: 'Roboto', sans-serif;
  color: #171C20;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 0px 2px #000000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  vertical-align: middle;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-toggler:focus {
  border: 1px solid #FF9109;
}

button.navbar-toggler {
  clear: both;
  /*margin-top: -15px;*/
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand span {
    /*padding-top: 5px;*/
    font-size: 5vw;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    line-height: 0.5px;
  }

  .navbar-brand {
    padding-top: 0px;
    /*height: 30px;*/
  }
}

#nav-list {
  margin-right: 25px;
}

#nav-list a {
  text-align: right;
}

.user-img {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 5px;
}

.border-md-right {
  border-right: 1px solid #000000;
}

@media (max-width: 991px) {
  .border-md-right {
    border-right: none;
  }
}

.main-section-with-image {
  background-image: url(/images/main_bckgr_img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container .jumbotron {
  background: transparent;
}

.carousel-page-container {
  height: 400px;
  margin: 0 auto;
}

.carousel-page-container h3 {
  text-align: center;
}

.carousel-page-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.carousel-page-content span {
  text-align: left;
  margin-right: 100px;
  vertical-align: middle;
  align-self: center;
}


.carousel-page-content img {
  border-radius: 5px;

}


@media (max-width: 767px) {
  .carousel-page-container {
    height: 240px;
    margin: 0 auto;
  }
  .carousel-page-content span{
    text-align: center;
    margin: 0 auto;
  }
}
#secondary-content {
  margin-bottom: 10px;
}

#home-tiles {
  margin-top: 28px;
  display: flex;
  justify-content: space-around;
}

#articles-tile, #vacancies-tile {
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border-top: 1px solid #3F0C1F;
  box-shadow: 0px 7px 10px -8px #000000 inset;
}

#articles-tile > a, #vacancies-tile > a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

/*#articles-tile:hover, #vacancies-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}*/

#articles-tile-content, #vacancies-tile-content {
  overflow-y: auto;
  background-color: rgba(196, 196, 196, 0.5);
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

#articles-tile-content ul, #vacancies-tile-content ul {
  padding-right: 40px;
}

#articles-tile-content ul li, #vacancies-tile-content ul li {
  margin-bottom: 7px;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: rgba(83, 86, 89, 1);
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#creation-info, #site-info {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgba(229, 229, 229, 1);
  font-weight: middle;
}

#site-info {
  text-align: right;
}

@media (max-width: 767px) {
  #creation-info {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #articles-tile, #vacancies-tile {
    height: 200px;
  }

  #articles-tile a, #articles-tile li, #vacancies-tile a, #vacancies-tile li {
    font-size: .85em;
  }

}

@media (max-width: 575px) {
  #vacancies-tile {
    margin-top: 40px;
  }
}

/*** PFORILE ***/

.profile-body {
  font-size: 16px;
  margin-top: 15px;
}

/*@media (max-width: 1230px) {
  .profile-body {
    font-size: 12px;
  }
}

@media (max-width: 1366px) {
  .profile-body {
    font-size: 55px;
  }
}*/

.profile-body-main {
  margin-left: auto;
  width: 100%;
}

.profile-info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  padding: 1.875rem;
  min-height: 6.25rem;
  background-color: #fff;
  border-radius: .3125rem;
  box-shadow: 0 5px 20px 0 rgba(165,173,182,.2);
  z-index: 3;
}

.profile-info-column {
  width: 50%;
}


.profile-info-column-left {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {

  .profile-body {
    font-size: 12px;
  }

  .profile-info {
    flex-direction: column;
  }

  .profile-info-column {
    width: 100%;
  }
  
  .profile-info-column-left {
    flex-direction: column;
    margin-bottom: 1.875rem;

  }
  
}

@media (max-width: 991px) {
    .profile-body {
      font-size: 14px;
    }

}





.info-details-photo-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.info-details-photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
}

.info-details-text-big {
  font-size: 1.875em;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: .025em;
  color: #383f4a;
  word-break: break-word;
  word-wrap: break-word;
}

.info-details-name {
  font-size: 1.5em;
  font-weight: 400;
  font-style: normal;
  color: #383f4a;
  align-self: flex-start;
}

.info-details-item:not(:last-of-type) {
    margin-bottom: .75rem;
}

.info-detail-item {
    display: flex;
    align-items: center;
}

.info-details-text {
  font-size: 1.125em;
    font-weight: 400;
    font-style: normal;
    color: #383f4a;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
    white-space: pre-wrap;
    max-width: 250px;
}

.info-details-mobile {
    margin-right: .625rem;
}

.info-details-link {
    font-size: 1.125em;
    font-weight: 400;
    font-style: normal;
    color: #383f4a;
    text-decoration: none;
    color: #5199ff;
    -webkit-transition: .3s;
    transition: .3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 65px);
    overflow: hidden;
}

.profile-body-aside {
  position: fixed;
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  .root.only-profile .profile-body__aside {
      top: 4.125rem;
  }
}

@media screen and (min-width: 1025px) {
  .profile-body__aside {
      top: 5.5625rem;
      bottom: 1.25rem;
      max-width: 330px;
      width: 22.91666%;
      border-radius: .3125rem;
  }
}

.profile-body-aside-inner {
  height: 100%;
  overflow-y: auto;
}

.navigation {
  width: 100%;
  background-color: #fff;
  padding: .625rem;
  border-radius: .3125rem;
  box-shadow: 0 5px 20px 0 rgba(165,173,182,.2);
}

/*.navigation ul, .section ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}*/

.navigation-link {
    display: flex;
    align-items: center;
    padding: .75rem;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .025rem;
    color: #a5adb6;
    border-radius: .3125rem;
    -webkit-transition: background-color .4s,color .5s;
    transition: background-color .4s,color .5s;
    text-decoration: none;
    cursor: pointer;
}

.navigation-link-icon {
    margin-right: 10px;
    font-size: 1.375em;
    color: currentColor;
}

#scientificactivity-nav .navigation-link-icon {
  margin-right: 13px;
}

#scientificactivity-nav.navigation-link {
  padding-left: 0.9rem;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5em;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

svg:not(:root) {
    overflow: hidden;
}

.navigation-link__science-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25em;
    height: 1.25em;
    background-color: currentColor;
    border-radius: 50%;
}

.navigation-link__science-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .875em;
    height: .875em;
    color: #fff;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.profile-block {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    flex-grow: 1;
    background-color: #fff;
    border-radius: .3125rem;
}

.profile-block-heading {
    position: relative;
    display: flex;
    padding-bottom: 1.25rem;
    align-items: center;
    justify-content: left;
    z-index: 11;
}

.heading__ico--left {
    margin-right: 1.25rem;
}

.heading__ico {
    position: relative;
    border-radius: 50%;
    background-color: #edf4ff;
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading__ico:before {
    color: #5199ff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.heading__ico.colored svg {
    color: #5199ff;
    opacity: 1;
}

.tooltip-wrapper {
    position: absolute;
    top: -.9375rem;
    left: -.9375rem;
    right: -.9375rem;
    bottom: -.9375rem;
    z-index: 1;
}

.heading-text {
    font-size: 1.75em;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: .025em;
    color: #383f4a;
    letter-spacing: normal;
}

.section-title {
    margin-bottom: 1.125em;
    font-size: 1.125em;
    font-weight: 500;
    font-style: normal;
    color: #4a4a4a;
}

.timeline-title {
    font-size: 1.25em;
    font-weight: 500;
    font-style: normal;
    color: #4a4a4a;
    margin-bottom: .375rem;
}

.timeline-date {
    font-size: 1.125em;
    font-style: normal;
    color: #a5adb6;
    margin-bottom: .375rem;
}

.timeline-description {
    font-size: 1.125em;
    font-weight: 400;
    font-style: normal;
    color: #a5adb6;

}

.profile-block-content {
    position: relative;
    padding-left: 3.125rem;
    width: 100%;
    min-height: 6.25rem;
}

.timeline-item {
    display: flex;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.timeline__highlight+.timeline__line {
    color: #f6ae07;
}

.timeline__line {
    position: relative;
    flex-shrink: 0;
    margin-right: 1.125rem;
    width: 1.25rem;
    color: #5199ff;
}

/*.timeline__line:after,*/ .timeline__line:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    background-color: currentColor;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline__line:before {
    width:  1.625em;
    height: 1.625em;
    border: .3125rem solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgba(165,173,182,.4);
    z-index: 1;
}

.timeline__item:last-child .timeline__line:after {
    display: none;
}

/*.timeline__line:after {
    width: 2px;
    height: calc(100% + 2rem);
}*/

.timeline__content {
    flex-grow: 1;
}

.list-style-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}


.languages {
    display: flex;
    flex: wrap;
    margin: 0 -1rem;
    -webkit-transition: max-height 1s ease;
    transition: max-height 1s ease;
}

.language-item-name {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    font-style: normal;
    color: #383f4a;
}

.MuiSvgIcon-colorPrimary {
    color: #5199ff;
}

.language-item__arrow {
    margin-right: .3125rem;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/*.language-item-body {
    padding-left: 1.875rem;
}*/

.language-item-level {
    font-weight: 400;
    font-style: normal;
    color: #a5adb6;
    font-size: 1.125em;
    padding-left: 2rem;
}

.about-me-container {
    padding-left: 3.75rem;
}

.tags-cloud, .tags-cloud-item {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.tags-cloud {
    flex-wrap: wrap;
    margin-right: -.625rem;
}

.tags-cloud-item {
    margin-bottom: .625rem;
    padding: .375rem .9375rem;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    color: #5199ff;
    line-height: 1;
    letter-spacing: .025em;
    border-radius: .9375rem;
    border: 1px solid rgba(74,144,226,.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: .625rem;
}

.about-me-content {
    position: relative;
    padding-bottom: .625rem;
}

#language .profile-block-content {
  min-height: 2rem;
}









