html, body {
  font-size: 16px;
  font-family: 'Open+Sans', sans-serif;
  cursor: default;
}

@media (max-width: 991px) {
  html, body {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html, body {
    font-size: 12px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color: #171C20;
  letter-spacing: .025rem;
}


body {
  background-color: #EBF0F3;
}

/** HEADER **/
#header-nav {
  background-color: #C4C4C4;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 9px;
  margin-right: 3rem;
}

.navbar-brand img {
  width: 86px;
  height: 79px;
  /*margin: 10px 15px 10px 0;*/
}

.navbar-brand span { /* JobFinder title */
  font-family: 'Roboto', sans-serif;
  color: #171C20;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 0px 2px #000000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  vertical-align: middle;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-toggler:focus {
  border: 1px solid #FF9109;
}

button.navbar-toggler {
  clear: both;
  /*margin-top: -15px;*/
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand span {
    /*padding-top: 5px;*/
    font-size: 5vw;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    line-height: 0.5px;
  }

  .navbar-brand {
    padding-top: 0px;
    /*height: 30px;*/
  }
}

#nav-list {
  margin-right: 25px;
}

#nav-list a {
  text-align: right;
  font-size: 1.2rem;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 145, 9, 0.1);
  color: rgba(255, 145, 9, 1);
}

.user-img {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 5px;
}

.border-md-right {
  border-right: 1px solid #000000;
}

@media (max-width: 991px) {
  .border-md-right {
    border-right: none;
  }
}

.main-section-with-image {
  background: url(/images/main_bckgr_img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container .jumbotron {
  background: transparent;
}

.main-content-links a {
  font-size: 1rem;
  color: #fff;
  margin-right: 40px;
  letter-spacing: .09rem;
}

.jumbotron h1 {
  font-size: 2.7rem;
  font-weight: 700;
}

.moto-text {
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: .02rem;
}

.carousel-inner {
  background-color: rgba(255, 145, 9, 0.3);
  /*border-radius: .3125rem;*/
  border-radius: 13.5px;
}

.carousel-page-container {
  height: 400px;
  margin: 0 auto;
}

.carousel-page-container h3 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
}

.carousel-page-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 60px;
  margin-bottom: 30px;
}

.carousel-page-content span {
  text-align: left;
  margin-right: 100px;
  vertical-align: middle;
  align-self: center;
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: .05rem;
}


.carousel-page-content img {
  border-radius: 5px;

}

@media (max-width: 991px) {
  .carousel-page-content span{
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .carousel-page-container {
    height: 240px;
    margin: 0 auto;
  }
  .carousel-page-content span{
    text-align: center;
    margin: 0 auto;
  }
}
#secondary-content {
  margin-bottom: 10px;
}

#home-tiles {
  margin-top: 28px;
  display: flex;
  justify-content: space-around;
}

#articles-tile, #vacancies-tile {
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border-top: 1px solid #3F0C1F;
  /*box-shadow: 0px 7px 10px -8px #000000 inset;*/
}

#articles-tile > a, #vacancies-tile > a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #171C20;
  letter-spacing: .03rem;
}

/*#articles-tile:hover, #vacancies-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}*/
#articles-tile-content ul, #vacancies-tile-content ul {
  padding-inline-start: 20px;
}

#articles-tile-content, #vacancies-tile-content {
  overflow-y: auto;
  /*background-color: rgba(196, 196, 196, 0.5);*/
  padding: 1.875rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  border-radius: 13.5px;
  background: #fff;
}


#articles-tile-content ul li, #vacancies-tile-content ul li {
  font-size: 1rem;
  color: #9b9b9b;
  padding-bottom: 5px;
  margin-bottom: 7px;
  cursor: pointer;
  border-bottom: var(--ticket-segment-dashed,1px dashed #ddd);
}

#articles-tile-content h3, #vacancies-tile-content h3 {
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

.vacancies-tile-item-descr {
  display: flex;
  flex-direction: column;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: rgba(83, 86, 89, 1);
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#creation-info, #site-info {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgba(229, 229, 229, 1);
  font-weight: middle;
}

#site-info {
  text-align: right;
}

@media (max-width: 767px) {
  #creation-info {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #articles-tile, #vacancies-tile {
    height: 200px;
  }

  #articles-tile a, #articles-tile li, #vacancies-tile a, #vacancies-tile li {
    font-size: .85em;
  }

}

@media (max-width: 575px) {
  #vacancies-tile {
    margin-top: 40px;
  }
}

/*** PFORILE ***/

.profile-body, .career-body {
  font-size: 16px;
  margin-top: 15px;
}

/*@media (max-width: 1230px) {
  .profile-body {
    font-size: 12px;
  }
}

@media (max-width: 1366px) {
  .profile-body {
    font-size: 55px;
  }
}*/

.profile-body-main {
  margin-left: auto;
  width: 100%;
}

.profile-info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  padding: 1.875rem;
  min-height: 6.25rem;
  background-color: #fff;
  border-radius: 13.5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  z-index: 3;
}

.profile-info-column {
  width: 50%;
}


.profile-info-column-left {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {

  .profile-body {
    font-size: 12px;
  }

  .profile-info {
    flex-direction: column;
  }

  .profile-info-column {
    width: 100%;
  }
  
  .profile-info-column-left {
    flex-direction: column;
    margin-bottom: 1.875rem;

  }
  
}

@media (max-width: 991px) {
    .profile-body {
      font-size: 14px;
    }

}

.info-details-photo-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.info-details-photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
}

.info-details-text-big {
  font-size: 1.875em;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: .025em;
  color: #383f4a;
  word-break: break-word;
  word-wrap: break-word;
}

.info-details-name {
  font-size: 1.5em;
  font-weight: 400;
  font-style: normal;
  color: #383f4a;
  align-self: flex-start;
}

.info-details-item:not(:last-of-type) {
    margin-bottom: .75rem;
}

.info-detail-item {
    display: flex;
    align-items: center;
}

.info-details-text {
  font-size: 1.125em;
    font-weight: 400;
    font-style: normal;
    color: #383f4a;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
    white-space: pre-wrap;
    max-width: 250px;
}

.info-details-mobile {
    margin-right: .625rem;
}

.info-details-link {
    font-size: 1.125em;
    font-weight: 400;
    font-style: normal;
    color: #383f4a;
    text-decoration: none;
    color: #5199ff;
    -webkit-transition: .3s;
    transition: .3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 65px);
    overflow: hidden;
}

.profile-body-aside {
  position: fixed;
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  .root.only-profile .profile-body__aside {
      top: 4.125rem;
  }
}

@media screen and (min-width: 1025px) {
  .profile-body__aside {
      top: 5.5625rem;
      bottom: 1.25rem;
      max-width: 330px;
      width: 22.91666%;
      border-radius: .3125rem;
  }
}

.profile-body-aside-inner {
  height: 100%;
  overflow-y: auto;
  border-radius: 13.5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
}

.navigation {
  width: 100%;
  background-color: #fff;
  padding: .625rem;
  /*border-radius: 13.5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;*/
}


.navigation-link {
    display: flex;
    align-items: center;
    padding: .75rem;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .025rem;
    color: #9b9b9b;
    border-radius: .3125rem;
    -webkit-transition: background-color .4s,color .5s;
    transition: background-color .4s,color .5s;
    text-decoration: none;
    cursor: pointer;
}

.navigation-link:hover {
  color: rgba(255, 145, 9, 1);
  text-decoration: none;
}

.navigation-link-icon {
    margin-right: 10px;
    font-size: 1.375em;
    color: currentColor;
}

#scientificactivity-nav .navigation-link-icon {
  margin-right: 13px;
}

#scientificactivity-nav.navigation-link {
  padding-left: 0.9rem;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5em;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

svg:not(:root) {
    overflow: hidden;
}

.navigation-link__science-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25em;
    height: 1.25em;
    background-color: currentColor;
    border-radius: 50%;
}

.navigation-link__science-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .875em;
    height: .875em;
    color: #fff;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.profile-block {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 13.5px;
    box-shadow: 0 5px 20px 0 rgba(165,173,182,.2);
}

.profile-block-heading {
    position: relative;
    display: flex;
    padding-bottom: 1.25rem;
    align-items: center;
    justify-content: left;
    z-index: 11;
}

.heading__ico--left {
    margin-right: 1.25rem;
}

.heading__ico {
    position: relative;
    border-radius: 50%;
    background-color: #edf4ff;
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading__ico:before {
    color: #5199ff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.heading__ico.colored svg {
    color: #5199ff;
    opacity: 1;
}

.tooltip-wrapper {
    position: absolute;
    top: -.9375rem;
    left: -.9375rem;
    right: -.9375rem;
    bottom: -.9375rem;
    z-index: 1;
}

.heading-text {
    font-size: 1.75em;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: .025em;
    color: #383f4a;
    letter-spacing: normal;
}

.section-title {
    margin-bottom: 1.125em;
    font-size: 1.125em;
    font-weight: 500;
    font-style: normal;
    color: #4a4a4a;
}

.timeline-title {
    font-size: 1.25em;
    font-weight: 500;
    font-style: normal;
    color: #4a4a4a;
    margin-bottom: .375rem;
}

.timeline-date {
    font-size: 1.125em;
    font-style: normal;
    color: rgb(155, 155, 155);
    margin-bottom: .375rem;
}

.timeline-description {
    font-size: 1.125em;
    font-weight: 400;
    font-style: normal;
    color: rgb(155, 155, 155);

}

.profile-block-content {
    position: relative;
    padding-left: 3.125rem;
    width: 100%;
    min-height: 6.25rem;
}

.timeline-item {
    display: flex;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.timeline__highlight+.timeline__line {
    color: #f6ae07;
}

.timeline__line {
    position: relative;
    flex-shrink: 0;
    margin-right: 1.125rem;
    width: 1.25rem;
    color: #5199ff;
}

/*.timeline__line:after,*/ .timeline__line:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    background-color: currentColor;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline__line:before {
    width:  1.625em;
    height: 1.625em;
    border: .3125rem solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgba(165,173,182,.4);
    z-index: 1;
}

.timeline__item:last-child .timeline__line:after {
    display: none;
}

/*.timeline__line:after {
    width: 2px;
    height: calc(100% + 2rem);
}*/

.timeline__content {
    flex-grow: 1;
}

.list-style-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}


.languages {
    display: flex;
    flex: wrap;
    margin: 0 -1rem;
    -webkit-transition: max-height 1s ease;
    transition: max-height 1s ease;
}

.language-item-name {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    font-style: normal;
    color: #383f4a;
}

.MuiSvgIcon-colorPrimary {
    color: #5199ff;
}

.language-item__arrow {
    margin-right: .3125rem;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/*.language-item-body {
    padding-left: 1.875rem;
}*/

.language-item-level {
    font-weight: 400;
    font-style: normal;
    color: rgb(155, 155, 155);
    font-size: 1.125em;
    padding-left: 2rem;
}

.about-me-container {
    padding-left: 3.75rem;
}

.tags-cloud, .tags-cloud-item {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.tags-cloud {
    flex-wrap: wrap;
    margin-right: -.625rem;
}

.tags-cloud-item {
    margin-bottom: .625rem;
    padding: .375rem .9375rem;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    color: #5199ff;
    line-height: 1;
    letter-spacing: .025em;
    border-radius: .9375rem;
    border: 1px solid rgba(74,144,226,.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: .625rem;
}

.about-me-content {
    position: relative;
    padding-bottom: .625rem;
}

#language .profile-block-content {
  min-height: 2rem;
}


.career-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100%;
  cursor: default;
  font-size: 16px;
}

.common-aside {
  width: 500px;
  padding-right: 1.875rem;
  display: flex;
  flex-direction: column;
}

.positions-aside-block {
  position: relative;
  padding: 1rem 1.875rem;
  background: #fff;
  border-radius: 13.5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}

#top-employers {
  margin-top: 15px;
  text-align: center;
  max-height: 400px;
  overflow-y: hidden;
}

.highcharts-figure {

}

.highcharts-title {
  font-size: 1.2rem;
}

.positions-aside-block-filter {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #eee;
  position: relative;
}

.body-search {
  width: 100%;
  height: 2.25rem;
  position: relative;
  display: flex;
  border-radius: .3125rem;
  overflow: hidden;
}

.body-search-submit {
  height: 100%;
  width: 1.75rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0;
  border: 0;
  color: #8e8e93;
  background-color: #f6f8f9;
}

.body-search-input {
  width: calc(100% - 1.5rem);
  outline: 0;
  border: 0;
  height: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  background-color: #f6f8f9;
}

.common-content {
  width: calc(100% - 500px);
}

.positions-aside-flex-heading {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.positions-aside-block-heading {
  font-size: 1.25em;
  font-weight: 500;
  color: #4a4a4a;
}

.tags-add-button {
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  color: #4a90e2;
  cursor: pointer;
  text-align: right;
}
  
.positions-filter-row {
    margin-bottom: .5rem;
}

.positions-filter-checkbox {
    display: none;
}

.positions-filter-label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.positions-filter-check {
  margin-right: .5rem;
  position: relative;
  max-width: 1.25rem;
  min-width: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: .125rem;
  border: 1px solid #a5adb6;
  transition: .3s ease-in-out background-color,.3s ease-in-out border-color;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
}

.positions-filter__check--checked {
  background-color: #4a90e2;
  border-color: #4a90e2;
}

.positions-filter-check-icon {
  opacity: 1;
  transition: .15s;
  position: absolute;
}

.positions-filter-label-text {
    font-size: 1em;
    color: #4a4a4a;
}

.common-content-block {
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1.875rem;
  border-radius: 13.5px;
  background: #fff;
}

.slider-wrapper {
    width: calc(100% - 1.5rem);
    overflow: hidden;
}


.common-content-block-item:nth-of-type(1) {
    padding-top: 0;
}

.common-content-block-item:last-of-type {
    border-bottom: 0;
}

.common-content-block-item {
    position: relative;
    padding: 1.875rem 0;
    border-bottom: 1px solid rgba(155,155,155,.5);
}

.common-content-heading-label {
  font-size: 1.75rem;
  font-weight: 500;
}

.common-content-body {
  margin-top: 1rem;
  color: #4a4a4a;
}

.positions-position {
  padding: 1rem 1.25rem;
  border-radius: 13.5px;
  -webkit-transition: .15s;
  transition: .15s;
  position: relative;
}


.position-content {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.position-content:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 3rem;
    right: 3rem;
    height: 1px;
    border-bottom: var(--ticket-segment-dashed,1px dashed #ddd);
}


.position-info {
  width: 80%;
}


.position-heading {
    font-size: 1.125rem;
    font-weight: 500;
}


.position-body-item, .position-body-item a{
  margin-right: 1rem;
  font-size: .975em;
  font-weight: 300;
  color: #9b9b9b;
}

.position-body-item a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
  color: #323232;
}

.position-actions {
  width: 10%;
/*  display: -webkit-box;*/
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}


.position-action {
    font-size: 1.5em;
    cursor: pointer;
}

.position-action-like {
    color: #ddd;
}


.toggle-dropdown {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    cursor: pointer;
    color: rgba(255, 145, 9, 1);
    font-size: 1.5em;
    padding: 0 .5rem;
    max-height: 3rem;
    line-height: 2rem;
    margin-left: 1rem;
}


@media (max-width: 1199px) {
  .common-content {
    width: calc(100% - 400px);
  }

  .common-aside {
    width: 400px;
  }
}

@media (max-width: 991px) {
  .career-body {
    flex-direction: column;
    padding-left: 15px;
    font-size: 14px;
  }

  .common-content {
    width: 100%;
  }

  .slider-wrapper {
    width: 100%;
  }

  .common-aside {
    width: 100%;
    padding-right: 0;
    padding-bottom: 1.875rem;
  }

  .positions-aside-block-inner {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .career-body {
    font-size: 12px;
  }

  .positions-position {
    padding-left: 1rem;
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  .position-heading {
    margin-right: .5rem;
  }
}

.about-body {
  font-size: 16px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  padding: 1.875rem;
  border-radius: 13.5px;
  background: #fff;
  margin: 100px auto;
  width: 60%;
}

.about-body-main {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: var(--ticket-segment-dashed,1px dashed #ddd);
}

.about-body-content {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.my-photo-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
}

.my-photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
}

.about-body-info {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 55%;
}

.about-body-info #name {
  margin-bottom: 1.2rem;
}

.about-body-info blockquote {
    color: #9b9b9b;
  }

.info-about-prof {
  /*width: 40%;*/
}


.info-details__socials {
    display: flex;
    margin-top: 20px;
}



.info-details__socials-icons {
    margin-right: 1rem;
}

.social-item {
  margin-right: rem(15px);
  text-decoration: none;
  cursor: pointer;
}

.social-item:hover .social-item__icon {
  .color {
    transition: fill, fill-opacity 0.3s;
    fill: $softBlue;
    fill-opacity: 1;
  }
}

.social-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(28px);
  height: rem(28px);
  background-color: $lightGrey;
  border-radius: 50%;
}


.social-icon--adaptive {
  width: 28px;
  height: 28px;
}

.social-item__icon--background {
  fill: #d2d6da;
}

svg .social-item__icon--background.fb {
    fill: #4267b2;
  }

svg:hover .social-item__icon--background.mail-ico {
    fill: #5199ff;
  }

svg:hover .social-item__icon--background.tg {
    fill: #2ca5e0;
  }

svg:hover .social-item__icon--background.twitter-ico {
    fill: #1ba1f1;
  }

svg:hover .social-item__icon--background.viber-ico {
    fill: #574e92;
  }

svg:hover .social-item__icon--background.vk-ico {
    fill: #4a76a8;
  }

svg:hover .social-item__icon--background.whatsapp-ico {
    fill: #00e676;
  }

svg:hover .social-item__icon--background.inst {
    fill: none;
  }
}

.bg-inst--hover {
  width: rem(28px);
  height: rem(28px);
  border-radius: 50%;
  background-image: none;
}

.bg-inst--hover:hover {
  border-radius: 50%;
  background-image:
    radial-gradient(
      circle at 20% 87%,
      #fae100,
      #fadc04 5%,
      #fbce0e 12%,
      #fcb720 18%,
      #fe9838 25%,
      #ff7950 31%,
      #ff1c74 49%,
      #6c1cd1
    );
}

@media (max-width: 1199px) {
  .about-body {
    width: 70%;
  }

  .about-body-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .my-photo-wrapper {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 991px) {
  .about-body {
    font-size: 14px;
    width: 80%;
  }
  .about-body-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .my-photo-wrapper {
    width: 200px;
    height: 200px;
  }

}

@media screen and (max-width: 767px) {
  .info-details__socials {
    flex-wrap: wrap;
    flex: 1 1;
  }

  .about-body {
    font-size: 12px;
    width: 90%;
    /*margin-right: 15px;
    margin-left: 15px;*/
    margin: 0 auto;
    margin-top: 15px;
  }

  .about-body-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-body-main {
    flex-direction: column;
    align-content: space-between;
  }

  .about-body-info {
    margin: 15px auto;
    width: 100%;
  }

  .my-photo-wrapper {
    width: 200px;
    height: 200px;
    align-self: center;
  }

  .my-photo {
    margin: 0 auto;
  }
}


.common-content-descr {
  font-size: 1em;
  font-weight: 300;
  color: #9b9b9b;
  margin-right: 1rem;
  margin-top: 1rem;
}

.position-body-item-number > a{
  font-weight: 400;
  color: #323232;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
}


.position-rating-number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 145, 9, 0.5);
  box-shadow: 0 3px 3px 0 rgba(165,173,182,.4);
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.position-header-top {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 1em;
}

.top-number {
  color: #fff;
  font-weight: 500;
  font-size: 1.4em;
}

.position-heading-top {
  margin: 0;
  padding: 0;
}

.position-body-top {
  margin-left: 28px;
}

@media (max-width: 767px) {
  .position-rating-number {
    width: 20px;
    height: 20px;
  }

  .position-body-top {
    margin-left: 23px;
  }

}

.usefulres-body {
  font-size: 16px;
  display: flex;
  margin: 15px auto;
  margin-right: 15px;
  margin-left: 15px;
  min-height: 100%;
  cursor: default;
}
.usefulres-common-content {
  width: 75%;
}

.usefulres-common-content-block {
  background: #fff;
  border-radius: 13.5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  padding: 1.875rem;
}

.usefulres-content-more {
  margin-left: 25px;
  width: 25%;
  overflow-y: auto;
  background: #fff;
  border-radius: 13.5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  padding: 1.5rem;
  max-height: 500px;
}

.usefulres-item-content {
  width: 100%;
}

.usefulres-item-content-descr {
  font-size: 1.2em;
  font-weight: 300;
  color: #9b9b9b;
  margin-right: 1rem;
  margin-top: 1rem;
}

.usefulres-item-content-link {

}

.usefulres-content-more-heading {
  font-size: 1.25em;
  font-weight: 500;
  color: #4a4a4a;
}

.usefulres-content-more-item {
  margin-top: .625rem;
  padding-left: 1rem;
  cursor: pointer;
  border-bottom: var(--ticket-segment-dashed,1px dashed #ddd);
}

.usefulres-content-more-item-heading {
  font-size: 1.125em;
  font-weight: 400;
  font-style: normal;
}

.usefulres-content-more-item-descr {
  font-size: 1.1em;
  font-weight: 360;
  font-style: normal;
  color: #9b9b9b;
}

@media (max-width: 991px) {
    .usefulres-body {
      font-size: 14px;
    }

    
}


@media (max-width: 767px) {
    .usefulres-body {
      font-size: 12px;
      flex-direction: column;
      align-content: space-between;
    }

    .usefulres-common-content {
      width: 100%;
    }

    .usefulres-content-more {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(85,85,85,.3);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

.graph-container {
  padding: 1rem 1.875rem;
  margin: 15px 15px 15px 15px;
  background: #fff;
  border-radius: 13.5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}











