body {
  background-color: #EBF0F3;
}

/** HEADER **/
#header-nav {
  background-color: #C4C4C4;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 9px;
}

.navbar-brand img {
  width: 86px;
  height: 79px;
  /*margin: 10px 15px 10px 0;*/
}

.navbar-brand span { /* JobFinder title */
  font-family: 'Roboto', sans-serif;
  color: #171C20;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 0px 2px #000000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  vertical-align: middle;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-toggler:focus {
  border: 1px solid #FF9109;
}

button.navbar-toggler {
  clear: both;
  /*margin-top: -15px;*/
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand span {
    /*padding-top: 5px;*/
    font-size: 5vw;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    line-height: 0.5px;
  }

  .navbar-brand {
    padding-top: 0px;
    /*height: 30px;*/
  }
}
#nav-list {
  margin-right: 25px;
}

#nav-list a {
  text-align: right;
}

.user-img {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 5px;
}

.border-md-right {
  border-right: 1px solid #000000;
}

@media (max-width: 991px) {
  .border-md-right {
    border-right: none;
  }
}




